<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
    <div class="position-relative row w-100 h-100 bg-gradient justify-content-center">
      <div class="col-lg-4 d-flex align-items-center">
        <mat-card class="cardWithShadow boxed-auth">
          <mat-card-content class="p-32">
            <div class="text-center">
              <a [routerLink]="['/dashboard']">
                <img src="./assets/images/logos/dark-logo.svg" class="align-middle m-2" alt="logo" />
              </a>
            </div>
  
            <div class="m-t-24 text-center">
              <h4>Forgot Password?</h4>
              <p class="text-muted">Enter your email to receive a reset code.</p>
            </div>
  
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendResetCode()" class="m-t-30">
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" />
                <mat-error *ngIf="forgotPasswordForm.get('email')?.invalid">
                  Please enter a valid email.
                </mat-error>
              </mat-form-field>
  
              <button mat-flat-button color="primary" class="w-100" type="submit" [disabled]="forgotPasswordForm.invalid || isLoading">
                Send Reset Code
              </button>
            </form>
  
            <mat-spinner *ngIf="isLoading" diameter="50"></mat-spinner> <!-- Afficher le spinner -->
            <a [routerLink]="['/authentication/reset-password']" class="text-decoration-none text-primary f-w-500 f-s-14">
                Reset Password
              </a>
              
            <span class="d-block f-w-500 text-center m-t-24">
              Remembered your password?
              <a [routerLink]="['/authentication/login']" class="text-decoration-none text-primary f-w-500 f-s-14">
                Sign In
              </a>
            </span>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  